.box {
    height: 250px;
    width: 250px;
    background-color: pink;
    position: absolute;

    animation-name: rotate;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite
}


@keyframes rotate {
    from {
        left: 0;
        top: 0;
    }

    0% {
        transform: rotate(0deg);
    }


    to {
        left: 0;
        top: 0;
    }
    100% {
        transform: rotate(360deg)
    }

}
