.block__image{

}

.block__image--rounded{
    border-radius: 5px;
    width: 1000px;
    height: 200px;
}

.nav__menu{
    background-color: green;
    color: white;
    padding: 5px;
    display: inline-block;
}

.nav__menu--red{
    background-color: red;
}