*{
    font-family: sans-serif;
}

.box{
    background-color: lightgrey;
    color: black;
    border: black;
    padding: 5px;
    font-size: 12px;
    border-radius: 2px;
}

.title{
    font-size: 16px;
    color: dimgrey;
}

.wrapper{
    display: flex;
    flex-direction: row;
}

.text {
    width: 50%;
}

.amount{
    border: solid lightgrey 0.5px;
}

.box-left{
    display: flex;
}