*{
    font-family: sans-serif;
}

.box{
    border: 1px solid grey;
    width: 800px;
    padding: 30px;
    display: flex;
}

.control.has-addon{
    width: 270px;
    display: flex;
    margin-bottom: 10px;
}

.control-field{
    flex: 1;
}

.control-addon{
    background-color: lightgrey;
    border: 1px solid grey;
    border-radius: 2px;
    font-size: 12px;
    padding: 5px;
    min-width: 15px;
}

h1{
    font-size: 16px;
}

.side{
    width: 300px;
}